@{
    ViewBag.Title = "合作摄影师";
}
@section Head
{
    <link href="~/Content/src/css/partnerPasswordChange.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.8.2.min.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
}


<div id="loginArea">
    <form id="form1" method="POST">
        <div id="loginTitle">密码修改</div>
        <div id="oldPasswordWrapper">
            <span class="inputTip">旧密码</span>
            <input class="inputText" id="oldpassword" name="oldpassword" type="password" />
        </div>
        <div id="newPasswordWrapper">
            <span class="inputTip">新密码</span>
            <input class="inputText" id="newpassword" name="newpassword" type="password" />
        </div>
        <div id="newPasswordRepeatWrapper">
            <span class="inputTip">重复新密码</span>
            <input class="inputText" id="validapassword" name="validapassword" type="password" />
        </div>

        <a id="changeSubmit" href="Javascript:Submit()"></a>
    </form>
</div>
<script>
    function Submit(){
        if (validateForm()) {
            var username = $("#oldpassword").val().trim();
            var password = $("#newpassword").val().trim();
            var validapassword = $("#validapassword").val().trim();
            var data = { 'oldpassword': username, 'newpassword': password, 'validapassword': validapassword };
            var beforesend = function () {
                console.log("before sending!");
            };

            var success = function (e) {
                console.log("return success");
                if (e == "success") {
                    window.location.replace("/Partner/Data");
                } else {
                    alert("用户名或密码错误！");
                }
            };

            if (username == "" || password == "") {
                alert("请将信息填写完整");
                return;
            }



            if (password == validapassword)
            {
                AJAX(data, '/Partner/ChangePassword', beforesend, success);
            } else {
                alert("两次输入密码不同！");
                return;
            }
        }
    }
    function validateForm() {
        return $("#form1").validate({
            rules: {
                //UserName: { required: true },
                //PassWord: { required: true },
                //validapassword: { equalTo: "#newpassword" }
            },
            messages: {
                //UserName: { required: "不能为空" },
                //PassWord: { required: "不能为空" },
                //validapassword: { equalTo: "两次输入密码不同" }
            }
        }).form();
    };
    AJAX = function (data, url, beforesendfn, onsuccessfn, onerrorfn, oncomplete) {
        if (url == undefined || url == "") {
            $.ajax({
                type: "POST",
                cache: false,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: beforesendfn,
                success: onsuccessfn,
                error: onerrorfn,
                complete: oncomplete
            });
        } else {
            $.ajax({
                type: "POST",
                url: url,
                cache: false,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: beforesendfn,
                success: onsuccessfn,
                error: onerrorfn,
                complete: oncomplete
            });
        }
    };


</script>