@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function validateForm() {
        return $("#form1").validate({
            rules: {
            },
            messages: {
            }
        }).form();
    };
    function doSubmit() {
        if (validateForm()) {
            if (simple.validator.validate()) {
                var usernama = $("#UserName").val();
                var oldpassword = $("#oldPassword").val();
                var newpassword = $("#newPassword").val();
                var newpasswordre = $("#newPasswordRe").val();
                if (newpassword != newpasswordre)
                {
                    alert("两次密码输入不同");
                    return;
                }
                console.log("usernama:" + usernama);
                console.log("oldpassword:" + oldpassword);
                console.log("newpassword:" + newpassword);
                var data = { 'userName': usernama, 'oldpassword': oldpassword, 'newpassword': newpassword };
                $.ajax({
                    type: "POST",
                    data: JSON.stringify(data),
                    url: "/admin/admin/changepassword",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        if (data == "Success") {
                            console.log("修改成功");
                            $("#tips").css({ "display": "block", "opacity": "1" });
                            $("#tips").animate({ opacity: 0 }, 2000);
                            $("#tips").html("修改成功");
                            $("#newPasswordRe").val("");
                            $("#newPassword").val("");
                        }
                        else {
                            $("#tips").css({ "display": "block", "opacity": "1" });
                            $("#tips").animate({ opacity: 0 }, 2000);
                            $("#tips").html("用户名密码错误");
                            console.log("respon success, but the password is worry!");
                        }
                    },
                    error: function () {
                        console.log("respon error");
                    }
                });
            }
        }
    }

    </script>

<form id="form1" method="post">
    <div id="tips"></div>

    <div class="contentItemGroup">
        <div class="contentItem">
            <div class="contentItemTitle">用户名</div>
            <input type="text" class="inputText" name="UserName" value="@Model.UserName" s-validator-rules="required:>=4,<20" s-validator-onsucceed="this.removeAttribute('error');" s-validator-onfail="this.setAttribute('error','');" />
        </div>
        <div class="rowBlank_h4"></div>
        <div class="contentItem">
            <div class="contentItemTitle">原密码</div>
            <input id="oldPassword" name="oldPassword" class="inputText" type="password" s-validator-rules="required:>=4,<20" s-validator-onsucceed="this.removeAttribute('error');" s-validator-onfail="this.setAttribute('error','');" />
        </div>
        <div class="rowBlank_h4"></div>
        <div class="contentItem">
            <div class="contentItemTitle">新密码</div>
            <input id="newPassword" name="newPassword" class="inputText" type="password" s-validator-rules="required:>=4,<20" s-validator-onsucceed="this.removeAttribute('error');" s-validator-onfail="this.setAttribute('error','');" />
        </div>
        <div class="rowBlank_h4"></div>
        <div class="contentItem">
            <div class="contentItemTitle">再次输入</div>
            <input id="newPasswordRe" name="newPasswordRe" class="inputText" type="password" s-validator-rules="required:>=4,<20" s-validator-onsucceed="this.removeAttribute('error');" s-validator-onfail="this.setAttribute('error','');" />
        </div>
    </div>

    <div class="contentItemGroup">
        <div class="contentItem" onlycontent>
            <a href="List" onclick="return confirm('你确定要离开编辑页面吗')" class="inputButton" lefticon style="background-image: url(/Content/ConsoleResource/src/media/icon_return.png)">返回</a>
            <a href="javascript:" onclick="doSubmit();" class="inputButton" lefticon style="background-image: url(/Content/ConsoleResource/src/media/icon_disk.png); float: right">提交</a>
        </div>
    </div>

</form>